<nav class="navbar navbar-expand-sm border-bottom px-5 py-2">
  <div class="container-fluid" id="nav-top">
    <div class="navbar-brand">
      <span class="navbar-brand mb-0 text-info"
        ><span class="fw-bold" id="appName"><%= data.appBrand %> <br /></span>
        <span class="text-decoration-underline h5 text-danger" id="brand"><%= data.faskesName %></span>
      </span>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu" style="flex-grow: 0">
      <ul class="navbar-nav me-auto justify-content-end fw-bold">
        <li class="nav-item">
          <button href="#" class="nav-link active">Beranda</button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#login">Masuk</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid px-5 py-2 border-bottom d-flex align-items-center" id="nav-mid">
  <div class="title fw-2 col-2 text-secondary" style="padding-left: 12px; width: 12%">Tentang Aplikasi</div>
  <div class="content col">
    <marquee behavior="" direction="left" scrollamount="5" class="align-middle"><%= data.appDesc %></marquee>
  </div>
</div>
<style>
  @media (max-width: 991.98px) {
    #nav-mid {
      display: none !important;
    }
    .navbar {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    #appName {
      display: none;
    }
  }
</style>

<%- include('utilities/login.ejs') %>
