<nav class="navbar navbar-expand-sm flex-column flex-nowrap">
  <div class="container-fluid px-5" id="nav-top">
    <span class="navbar-brand mb-0 fs-4 h1 text-info"><%= data.appBrand %></span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu" style="flex-grow: 0">
      <ul class="navbar-nav me-auto justify-content-end">
        <li class="nav-item">
          <button href="#" class="nav-link active">Home</button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#login">Login</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid px-5 border-top border-bottom" id="nav-mid">
    <div class="title fw-2 col-2 text-secondary" style="width: 12.5%">Tentang Aplikasi</div>
    <div class="content col">
      <marquee behavior="" direction="left" scrollamount="5" class="align-middle"><%= data.appDesc %></marquee>
    </div>
  </div>
  <style>
    @media (max-width: 991.98px) {
      #nav-mid {
        display: none;
      }
    }
  </style>
</nav>

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Login (Masuk)</h1>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="post" class="row needs-validation" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username#ID</label>
            <div class="row">
              <div class="col">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" />
              </div>
              <div class="col-1"><span class="fs-3 align-text-bottom">#</span></div>
              <div class="col-3"><input type="text" name="id" id="id" class="form-control" placeholder="ID" /></div>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Put Your Password Here" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
